#population

#child
table
  thead
    tr
      th
        | Firstname
      th
        | Lastname
      th
        | City
      th
        | Num of people
      th
        | Has child
      th

  tbody
    = render @houses

javascript:
    const hoge = #{raw @population.to_a};
    const hasChild = #{raw @has_child.to_a};
    var chart = c3.generate({
        bindto: '#population',
        data: {
            columns: hoge,
            type: 'bar'
        },
        bar: {
            width: {
                ratio: 0.5
            }
            
        }
    });

    var pieChart = c3.generate({
        bindto: '#child',
        data: {
            columns: hasChild,
            type: 'pie',
            onclick: function (d, i) {
                console.log("onclick", d, i);
            },
            onmouseover: function (d, i) {
                console.log("onmouseover", d, i);
            },
            onmouseout: function (d, i) {
                console.log("onmouseout", d, i);
            }
        }
    });